{% extends "base.html" %}
{% block content %}
    <!--testimonial-section-starts-here -->
	<section class="testimonial jarallax">
		<div class="container">
			<h3>Conócenos</h3>
			<div class="testi-grid">
				<div class="col-md-12 col-sm-12 col-xs-12 fslider-grid">
					<div class="flexslider">
						<ul class="slides">
							<li>
								<div class="testi-w3ls text-center">
									<div class="testi-img">
										<div class="testi-text" style="font-size: 34pt">Misión</div>
										<img src="imagenes/mision.png" alt="images" />
									</div>
									<div class="testi-text" style="font-size: 14pt;text-align: justify;">
										<p>La misión de Luminarias impala S.A de C.V, es la de iluminar los hogares y los centros de trabajo de nuestros clientes, en forma suficiente, económica y con productos de la mayor calidad, ajustados a los parámetros ecológicos y siempre en beneficio del menor consumo y mayor servicio de los usuarios  finales.
										<br><br>
										Estamos seguros que como empresa, luminarias impala, logrará dar a los clientes un servicio de iluminación que se ajuste a sus necesidades y que rinda ecológica y económicamente, además de que nuestros productos tienen una duración garantizada.
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="testi-w3ls text-center">
									<div class="testi-img">
										<div class="testi-text" style="font-size: 34pt">Visión</div>
										<img src="imagenes/vision.png" alt="images" />
									</div>
									<div class="testi-text" style="font-size: 14pt;text-align: justify;">
										<p>La visión de luminarias impala, es que la tecnología llegue a todos los clientes, ajustando nuestros productos a los avances tecnológicos y cuidando del bolsillo de nuestros clientes y a la vez de la ecología, al producir luminarias de bajo consumo y larga duración.
										<br><br>
										En nuestra visión, también tenemos la de adecuar el estilo y decoración a la iluminación ecológica, que permitirá disminuir lo más posible los requisitos de iluminación dentro de las habitaciones.
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="testi-w3ls text-center">
									<div class="testi-img">
										<div class="testi-text" style="font-size: 34pt">Valores</div>
										<img src="imagenes/valores.png" alt="images" />
									</div>
									<div class="testi-text" style="font-size: 14pt;text-align: justify;">
										<p>
											En “Luminarias Impala S.A de C.V” valoramos a las personas y a los empleados, tenemos prioridad en el cuidado de los derechos de los empleados, sus familias, buscamos los mejores beneficios de los clientes y aseguramos el valor del planeta, usando productos que no produzcan daño en su uso y manufacturación al planeta, buscamos principalmente una conciencia ecológica y real, usando la tecnología para el beneficio de la sociedad y del propio planeta.
										</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</section>
	<!--testimonial-section-end-here -->
{% endblock %}