{% extends "base.html" %}
{% block content %}
	<!--//about-section-end-here-->
	<!-- /services -->
	<div class="agile_secives jarallax" id="services">
		<div class="container">
			<h3>Venta, reparación y servicios</h3>
			<br><br>
			<div class="row">

			<div class="col-md-1">

				</div>
				<div class="col-md-5">
					<div class="agileits-icon-grid">
						<div class="icon-left">
							<i class="fa fa-gear" aria-hidden="true"></i>
						</div>
						<div class="icon-right">
							<h5>Ultimas noticias</h5>
							{% if noticias %}
                                {% for noticia in noticias %}
                                    <h4>{{ noticia.titulo }}</h4>
                                    <p>{{ noticia.fecha }}</p>
                                    <p>{{ noticia.contenido }}</p>
                                {% endfor %}
                            {% endif %}
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>


			</div>
			<br><br>




		</div>
	</div>
	<!-- //services -->
	<!--team-section-->

	<!--//team-section-end-here-->


	<!-- //laboratory-section -->
	<!--testimonial-section-starts-here -->

	<!--testimonial-section-end-here -->

	<!--contact-->

	<!--//contact-section-end-here-->
	<!--footer-section-end-here-->

{% endblock %}