{% load static %}
<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<!-- Head -->

<head>
	<title>Multiservicios</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Multi Servicios Reparaciones Garantia HMO Hermosillo" />
	<!-- default-css-files -->
	<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" />
	<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" type="text/css" media="all">
	<!-- default-css-files -->
	<!-- Online fonts -->
	<link href="//fonts.googleapis.com/css?family=Oxygen:300,400,700" rel="stylesheet">
	<!-- //Online fonts -->
	<!-- style.css-file -->
	<link href="{%  static 'css/style.css' %}" rel='stylesheet' type='text/css' />
	<!-- //style.css-file -->
</head>
<!-- Head -->

<body>
	<!--header-section-starts-here-->
	<header>
		<div class="top-header" id="home">
			<div class="container">
				<div class="col-md-8 col-sm-8 col-xs-8 top-left">
					<p><i class="fa fa-map-marker" aria-hidden="true"></i> M. Negrete 474,Esquina con Lopez del Castillo, Col. Jardines</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</header>
	<section class="banner jarallax">
		<div class="navigation">
			<div class="container">
				<nav class="navbar navbar-default">
					<div class="navbar-header navbar-left">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					</div>
					<div class="logo">
						<h1><a class="navber-brand" href="index.html"><i class="fa fa-gear" aria-hidden="true"></i> Multiservicios</a></h1>
					</div>
					<div class="collapse navbar-collapse navbar-right navigation-right" id="bs-example-navbar-collapse-1">
						<nav class="link-effect-3 w3ls-navma" id="link-effect-3">
							<ul class="nav1 navbar-nav nav nav-wil">
								<li class="active"><a data-hover="________" href="index.html">Inicio</a></li>
								<li><a data-hover="________" href="conocenos.html" ">Conocenos</a></li>
								<li><a data-hover="________" href="servicios.html" >Servicios</a></li>

								<li><a data-hover="________" href="contacto.html" >Contacto</a></li>
							</ul>
						</nav>
					</div>
				</nav>
			</div>
			<div class="clearfix"></div>
		</div>

	</section>

	<!--//about-section-end-here-->
	<!-- /services -->
	<div class="agile_secives jarallax" id="services">
		<div class="container">
			<h3>Venta, reparación y servicios</h3>
			<br><br>
			<div class="row">

			<div class="col-md-1">

				</div>
				<div class="col-md-5">
					<div class="agileits-icon-grid">
						<div class="icon-left">
							<i class="fa fa-gear" aria-hidden="true"></i>
						</div>
						<div class="icon-right">
							<h5>Ultimas noticias</h5>
							{% if noticias %}
                                {% for noticia in noticias %}
                                    <h4>{{ noticia.titulo }}</h4>
                                    <p>{{ noticia.fecha }}</p>
                                    <p>{{ noticia.contenido }}</p>
                                {% endfor %}
                            {% endif %}
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>


			</div>
			<br><br>




		</div>
	</div>
	<!-- //services -->
	<!--team-section-->

	<!--//team-section-end-here-->


	<!-- //laboratory-section -->
	<!--testimonial-section-starts-here -->

	<!--testimonial-section-end-here -->

	<!--contact-->

	<!--//contact-section-end-here-->
	<!--footer-section-end-here-->

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">sanatorium</h4>
				</div>
				<div class="modal-body agileits">
					<div class="modal-img">
						<img src="{%  static 'images/md.jpg' %}" alt="image">
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer scelerisque orci consectetur sapien feugiat fermentum.
						Phasellus convallis efficitur arcu, nec convallis odio egestas sit amet. Praesent erat sem, finibus vel ornare efficitur,
						mattis sed risus. Duis ornare sodales dui finibus molestie.</p>
				</div>
			</div>
		</div>
	</div>
	<!--//Modal -->
	<!--//footer-section-end-here-->
	<!-- Default-JavaScript-File -->
	<script type="text/javascript" src="{%  static 'js/jquery-2.1.4.min.js' %}"></script>
	<!-- password-script -->
	<script type="text/javascript">
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}

		function validatePassword() {
			var pass2 = document.getElementById("password2").value;
			var pass1 = document.getElementById("password1").value;
			if (pass1 != pass2)
				document.getElementById("password2").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');
			//empty string means no validation error
		}
	</script>
	<!-- //password-script -->


	<script src="{%  static 'js/responsiveslides.min.js' %}"></script>
	<script>
		// You can also use "$(window).load(function() {"
		$(function () {
			// Slideshow 4
			$("#slider4").responsiveSlides({
				auto: true,
				pager: true,
				nav: false,
				speed: 500,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});

		});
	</script>
	<!--banner Slider starts Here-->
	<script type="text/javascript" src="js/modernizr.custom.79639.js"></script>
	<!-- //Default-JavaScript-File -->
	<!-- gallery-pop-up -->
	<script src="{%  static 'js/jquery.chocolat.js' %}"></script>
	<link rel="stylesheet" href="{%  static 'css/chocolat.css' %}" type="text/css" media="screen">
	<!--light-box-files -->
	<script type="text/javascript">
		$(function () {
			$('.agileinfo_portfolio_grid a').Chocolat();
		});
	</script>
	<!-- //gallery-pop-up -->

	<!-- FlexSlider -->
	<script defer src="{%  static 'js/jquery.flexslider.js' %}"></script>
	<script type="text/javascript">
		$(function () {});
		$(window).load(function () {
			$('.flexslider').flexslider({
				animation: "slide",
				start: function (slider) {
					$('body').removeClass('loading');
				}
			});
		});
	</script>
	<!-- FlexSlider -->
	<!-- start-smoth-scrolling-nav -->
	<script type="text/javascript" src="{%  static 'js/move-top.js' %}"></script>
	<script type="text/javascript" src="{%  static 'js/easing.js' %}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
	<!-- Slide-To-Top JavaScript (No-Need-To-Change) -->
	<script type="text/javascript">
		$(document).ready(function () {
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 100,
				easingType: 'linear'
			};
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 0;"> </span></a>
	<!-- //Slide-To-Top JavaScript -->
	<!-- jarallax scrolling -->
	<script src="{%  static 'js/jarallax.js' %}"></script>
	<script src="{%  static 'js/SmoothScroll.min.js' %}"></script>
	<script type="text/javascript">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1366,
			imgHeight: 768
		})
	</script>
	<!-- //jarallax scrolling -->
	<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/
			$().UItoTop({
				easingType: 'easeOutQuart'
			});
		});
	</script>
	<!-- //smooth scrolling -->
	<script type="text/javascript" src="{% static 'js/bootstrap-3.1.1.min.js' %}"></script>
</body>

</html>