{% extends "base.html" %}
{% block content %}
    <!-- /services -->
	<div class="agile_secives jarallax" id="services">
		<div class="container">
			<h3>Venta, reparación y servicios</h3>
			<br><br>
			<div class="row">

			<div class="col-md-1">

				</div>
				<div class="col-md-5">
					<div class="agileits-icon-grid">
						<div class="icon-left">
							<i class="fa fa-gear" aria-hidden="true"></i>
						</div>
						<div class="icon-right">
							<h5>Compresores de Aire</h5>
							<p>Servicio y mantenimiento en sus diferentes marcas </p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-5">
					<div class="agileits-icon-grid">
						<div class="icon-left">
							<i class="fa fa-camera-retro" aria-hidden="true"></i>
						</div>
						<div class="icon-right">
							<h5>Hidro-lavadoras</h5>
							<p>En sus distintos tipos, tamaños y modelos de cualquier marca</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>

			</div>
			<br><br>

			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-5">
					<div class="agileits-icon-grid">
						<div class="icon-left">
							<i class="fa fa-bicycle" aria-hidden="true"></i>
						</div>
						<div class="icon-right">
							<h5>Máquinas de ejercicio</h5>
							<p>Soporte y apoyo en manejo de garantías</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-5">
					<div class="agileits-icon-grid">
						<div class="icon-left">
							<i class="fa fa-line-chart" aria-hidden="true"></i>
						</div>
						<div class="icon-right">
							<h5>Generadores de corriente</h5>
							<p>Phasellus dapibus felis elit, sed accumsan arcu gravida vitae. Nullam aliquam erat..</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>

			</div>
		</div>
	</div>
	<section></section>






<section class="footer-top jarallax">
		<div class="container">
			<div class="footer-grids">
				<div class="w3ls-top-ft text-center">
					<span>Multiservicios</span>
					<h3>COMPRESORES DE AIRE</h3>
					<body>
  						<p style="color:orange; font-size: 14pt;">lorem ipsum dolor sit amet</p>
					</body>
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tristique ipsum sit amet augue suscipit cursus. Morbi malesuada, leo at ullamcorper facilisis, magna neque vehicula neque, eu elementum felis augue nec ex. Phasellus ornare ultricies nisi, in blandit ipsum efficitur eget. Fusce aliquet feugiat commodo. Duis vel augue vel odio iaculis mollis. Vivamus at imperdiet velit. Quisque mauris ante, gravida ut diam quis, lobortis gravida dui. Aenean magna neque, commodo ac gravida ultrices, aliquam pretium est. Morbi pharetra, enim nec ornare sodales, dolor urna luctus magna, eu egestas tellus quam mattis libero. Proin pellentesque iaculis ipsum sed interdum.
					</p>
				</div>

				<div class="footer-bottom">
					<div class="col-md-6 col-sm-6 col-xs-6 copy-right-grids">
						<div class="copy-left">
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 top-middle">
						<ul>

						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
<br>
	<div class="container">
			<div class="footer-grids">
				<div class="w3ls-top-ft text-center">
					<span>Multiservicios</span>
					<h3>HIDRO-LAVADORAS</h3>
					<body>
  						<p style="color:orange; font-size: 14pt;">lorem ipsum dolor sit amet</p>
					</body>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tristique ipsum sit amet augue suscipit cursus. Morbi malesuada, leo at ullamcorper facilisis, magna neque vehicula neque, eu elementum felis augue nec ex. Phasellus ornare ultricies nisi, in blandit ipsum efficitur eget. Fusce aliquet feugiat commodo. Duis vel augue vel odio iaculis mollis. Vivamus at imperdiet velit. Quisque mauris ante, gravida ut diam quis, lobortis gravida dui. Aenean magna neque, commodo ac gravida ultrices, aliquam pretium est. Morbi pharetra, enim nec ornare sodales, dolor urna luctus magna, eu egestas tellus quam mattis libero. Proin pellentesque iaculis ipsum sed interdum.
</p>
				</div>

				<div class="footer-bottom">
					<div class="col-md-6 col-sm-6 col-xs-6 copy-right-grids">
						<div class="copy-left">
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 top-middle">
						<ul>

						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
<br>
	<div class="container">
			<div class="footer-grids">
				<div class="w3ls-top-ft text-center">
					<span>Multiservicios</span>
					<h3>MÁQUINAS DE EJERCICIO</h3>
					<body>
  						<p style="color:orange; font-size: 14pt;">lorem ipsum dolor sit amet</p>
					</body>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tristique ipsum sit amet augue suscipit cursus. Morbi malesuada, leo at ullamcorper facilisis, magna neque vehicula neque, eu elementum felis augue nec ex. Phasellus ornare ultricies nisi, in blandit ipsum efficitur eget. Fusce aliquet feugiat commodo. Duis vel augue vel odio iaculis mollis. Vivamus at imperdiet velit. Quisque mauris ante, gravida ut diam quis, lobortis gravida dui. Aenean magna neque, commodo ac gravida ultrices, aliquam pretium est. Morbi pharetra, enim nec ornare sodales, dolor urna luctus magna, eu egestas tellus quam mattis libero. Proin pellentesque iaculis ipsum sed interdum.
</p>
				</div>

				<div class="footer-bottom">
					<div class="col-md-6 col-sm-6 col-xs-6 copy-right-grids">
						<div class="copy-left">
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 top-middle">
						<ul>

						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
<br>
	<div class="container">
			<div class="footer-grids">
				<div class="w3ls-top-ft text-center">
					<span>Multiservicios</span>
					<h3>GENERADORES DE CORRIENTE</h3>
					<body>
  						<p style="color:orange; font-size: 14pt;">lorem ipsum dolor sit amet</p>
					</body>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tristique ipsum sit amet augue suscipit cursus. Morbi malesuada, leo at ullamcorper facilisis, magna neque vehicula neque, eu elementum felis augue nec ex. Phasellus ornare ultricies nisi, in blandit ipsum efficitur eget. Fusce aliquet feugiat commodo. Duis vel augue vel odio iaculis mollis. Vivamus at imperdiet velit. Quisque mauris ante, gravida ut diam quis, lobortis gravida dui. Aenean magna neque, commodo ac gravida ultrices, aliquam pretium est. Morbi pharetra, enim nec ornare sodales, dolor urna luctus magna, eu egestas tellus quam mattis libero. Proin pellentesque iaculis ipsum sed interdum.
</p>
				</div>

				<div class="footer-bottom">
					<div class="col-md-6 col-sm-6 col-xs-6 copy-right-grids">
						<div class="copy-left">
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 top-middle">
						<ul>

						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>

</section>
{% endblock %}